.ant-upload-list.ant-upload-list-picture{
  display: flex;
  flex-wrap: wrap;
  .ant-upload-list-item-container{
    width: calc(50% - 5px);
  }
  /* odd 这个关键词意味着“奇数”，所以这个规则会选中父元素下的第1个、第3个、第5个等奇数位置的 .ant-upload-list-item-container 子元素。 */
  .ant-upload-list-item-container:nth-child(odd) {
    margin-right: 10px;
  }
  .ant-upload-list-item {

}
}
@media screen and (max-width: 480px) {
  .ant-pro-page-container-children-container, .ant-pro-page-container-warp-page-header{
    padding-inline: 10px!important;
  }

}